@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*  {
    box-sizing: border-box;
}

body {
    background: #EFEFBB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

*:focus {
    outline: none;
}

.mobile-container {
    background-color: white;
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 3px;
    overflow: hidden;
    width: 400px;
    height: 90%;
    overflow: scroll;
}
img {
    max-width: 100%;;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

header input {
   background-color: #eee;
   border: none;
   border-radius: 3px;
   padding: 0.5rem 1rem;
   font-family: inherit;
}

header button {
    background-color: transparent;
    color: darkgray;
    font-size: 2rem;
    border: none;
    margin-left: 10px;
}

.fav-container {
    background-color: rgb(233, 199, 255);
    padding: 0.25rem 1rem;
    text-align: center;
    min-height: 242px;
}

.fav-meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}
.fav-meals li{
    cursor: pointer;
    width: 85px;
    position: relative;
}

.fav-meals li .clear{
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    font-size: 1.2rem;
}

.fav-meals li:hover .clear{
    opacity: 1;
}

.fav-meals img {
    border: 2px solid #ffffff;
   border-radius: 50%;
   box-shadow: 0 0 10px 2px #3333331a;
   object-fit: cover;
   height: 70px;
   width: 70px;;
}
.fav-meals span{
   font-size: 0.8rem;
 }

 .meal {
     border-radius: 3px;
     box-shadow: 0 0 10px 2px #3333331a;
     margin: 1.5rem;
     overflow: hidden;
     cursor: pointer;
 }

 .meal-header {
     position: relative;
 }

 .meal-header .random {
    position: absolute;
    top: 1rem;
    background-color: white;
    padding: 0.25rem 0.5rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

 .meal-header img {
     height: 250px;
     object-fit: cover;
     width: 100%;;
 }

 .meal-body {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 1rem;
}

.meal-body h4 {
  margin: 0;
}


.meal-body .fav-btn {
   background-color: transparent;
   border: none;
   font-size: 1.2rem;
   cursor: pointer;
   color: gray;
  }

  .meal-body .fav-btn .active {
      color: rebeccapurple;
   }

   .popup-container{
       background-color: rgb(0, 0, 0, 0.5);
       display: flex;
       align-items: center;
       justify-content: center;
       position: fixed;
       left: 0;
       right: 0;
       top: 0;
       bottom: 0;
   }
   .popup-container.hidden { 
       opacity: 0;
       pointer-events: none;
   }

   .popup {
    position: relative;
    background-color: white;
    padding: 0 2rem;
    border-radius: 5px;
    max-width: 650px;
    height: 90%;
    overflow: scroll;
}
   .meal-info h1 {
       text-align: center;
   }

   .popup .close-popup {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.hide-scroll {
    overflow: hidden;
}

/* not-mobile */
@media (min-width: 768px) {

div#meal-popup img {
    max-width: 100%;
    padding: 0px 80px;
}

}

